<h1>TFS Visualisation</h1>
  <md-slider
    min="1"
    max="{{highestKeyframe}}"
    value="sliderValue"
    [(ngModel)]="sliderValue">
  </md-slider>
  <span>{{sliderValue}}</span>

  <table>
    <thead>
      <tr>
        <th>PBI</th>
        <th>New</th>
        <th>In Progress</th>
        <th>Done</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pbi of getKeyframeData(sliderValue)">
        <th [style.color]="pbi.color">
          {{ pbi.date }}
          <br> {{ pbi.name }}
          <br> {{ pbi.status }}
        </th>

        <td>
          <div *ngFor="let task of pbi.tasks">
            <span *ngIf="task.status === 0" [style.color]="task.color">
              {{ task.date }} <br> <strong>{{ task.name }}</strong>
            </span>
          </div>
        </td>

        <td>
          <div *ngFor="let task of pbi.tasks">
            <span *ngIf="task.status === 1" [style.color]="task.color">
              {{ task.date }} <br> <strong>{{ task.name }}</strong>
            </span>
          </div>
        </td>

        <td>
          <div *ngFor="let task of pbi.tasks">
            <span *ngIf="task.status === 2" [style.color]="task.color">
              {{ task.date }} <br> <strong>{{ task.name }}</strong>
            </span>
          </div>
        </td>

      </tr>
    </tbody>
  </table>
